*{
    font-family: 'Alata', sans-serif;
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-image:linear-gradient(120deg,#5465ff,#e2fdff );
    color:#f8f9fa;
    min-height: 100vh;
    min-width: 100vw;
}

header{
    font-size:3rem;
}

header,
form{
    min-height:15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button{
    padding: 1rem;
    font-size: 2rem;
    border:none;
    background: #f8f9fa;
    color: #5465ff;
}

form input{
    min-width: 30vw;
}

form button{
    color: #5465ff;
    background:#f8f9fa;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background: #5465ff;
    color:#f8f9fa;
}

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list{
    min-width: 30%;
    list-style: none;
}

.todo{
    margin:1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f9fa;
    color: #5465ff;
    font-size: 1.25rem;
}

.todo li{
    flex:1;
    padding: 1em;
}

.delete-btn,
.complete-btn{
    background:#f8f9fa;
    color: #5465ff;
    border:none;
    padding:1em;
    cursor: pointer;
    font-size: 1.25rem;
}

.todo .delete-btn:hover {
    background: #5465ff;
    color:#f8f9fa;
}

.todo .complete-btn:hover {
    background: #5465ff;
    color:#f8f9fa;
}